.splash-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #e6e6fa, #ffffff);
    color: #4b0082;
    font-size: 2rem;
    font-weight: bold;
    animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
0% {
    opacity: 1;
}
    100% {
    opacity: 0;
    visibility: hidden;
    }
}
